* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #2b8a3e;
}

li {
  margin-top: 12px;
}

.items {
  padding-left: 40px;
}

button {
  margin: 10px;
  border-radius: 24px;
  padding: 12px;
  background-color: #2f9e44;
  border: 2px solid white;
  display: flex;
}

button:hover,
button:active {
  background-color: #37b24d;
  color: #f8f9fa;
  border: 2px solid black;
}
